@import '../../assets/styles/theme';

.mobileProjectTitleLightTheme {
  color: $black;
  font: 100% $helvetica;
  font-size: 32px;
  text-align: center;
  margin: 80px 0 32px 0;
  visibility: visible;
}

.mobileProjectLightTheme {
  font: 100% $helvetica;
  text-align: center;
  background-color: $white_100_35;
  color: $black;
  margin: 0 8px;
  font-size: 16px;
  padding: 14px 24px 50px 24px;

  div {
    text-align: justify;
    padding-bottom: 50px;
  }

  a:hover,
  a:link,
  a:visited,
  a:active,
  a {
    font-size: 14px;
    font-weight: 600;
    text-decoration-line: none;
    color: $black;
  }
}

.mobileProjectTitleDarkTheme {
  color: $white;
  visibility: visible;
}

.mobileProjectDarkTheme {
  background-color: $black_100_35;
  color: $white;

  a:hover,
  a:link,
  a:visited,
  a:active,
  a {
    color: $white;
  }
}

.desktopProjectTitleLightTheme {
  margin: 0;
  visibility: hidden;
}

@media screen and (min-width: $breakpoint-desktop) {
  .body {
    padding-bottom: 120px;
  }

  .desktopProjectTitleLightTheme {
    color: $black;
    font: 100% $helvetica;
    font-size: 38px;
    text-align: center;
    margin: 80px 0 32px 0;
    visibility: visible;
  }

  .desktopProjectTitleDarkTheme {
    color: $white;
    visibility: visible;
  }

  .mobileProjectTitleLightTheme {
    margin: 0;
    height: 0;
    visibility: hidden;
  }

  .mobileProjectLightTheme {
    font: 100% $helvetica;
    text-align: center;
    background-color: $white_100_35;
    color: $black;
    margin: -40vh auto 8px;
    font-size: 16px;
    padding: 39vh 20px 80px 24px;
    border-radius: 22px;
    width:95%;
    div {
      text-align: justify;
      padding: 30px 60px 60px 60px;
    }

    a:hover,
    a:link,
    a:visited,
    a:active,
    a {
      font-size: 14px;
      font-weight: 600;
      text-decoration-line: none;
      color: $black;
    }
  }

  .mobileProjectDarkTheme {
    background-color: $black_100_35;
    color: $white;

    a:hover,
    a:link,
    a:visited,
    a:active,
    a {
      color: $white;
    }
  }
}