@import "../../assets/styles/theme";

.containerGridDark {
  display: grid;
  grid-template-columns: 56% auto;
  grid-template-rows: 46% 52% auto;
  margin-left: 22px;
  margin-right: 10px;
}

.containerGridDark > div {
  text-align: left;
  color: $white;
}

.containerGridLight > div {
  text-align: left;
  color: $black;
}

.mainContainerDark {
  background: linear-gradient(180deg, $dark-footer-top-mobile 15%, $dark-footer-bottom-mobile 100%);
  padding-top: 55px;
  padding-bottom: 90px;
}

.mainContainerLight {
  background: white;
}

.containerLinks {
  display: flex;
  a * {
    margin-top: 5px;
    margin-right: 7px;
  }
}

.zarzadMail{
  font-size: 15px;
  word-wrap: anywhere;
}

h2 {
  font-weight: bold;
  font-size: 15px;
}

h3 {
  font-weight: bold;
  font-size: 13px;
}

p {
  font-size: 13px;
  word-wrap: anywhere;
}
