@import "../../assets/styles/theme";

.containerGridDark {
  display: grid;
  grid-template-columns: 52% auto;
  grid-template-rows: 45% 45% 10%;
  padding: 6%;
}

.containerGridDark > div {
  text-align: left;
  color: $white;
}

.containerGridLight > div {
  text-align: left;
  color: $black;
}

.mainContainerDark {
  background: linear-gradient(180deg, $dark-footer-top-mobile 15%, $dark-footer-bottom-mobile 100%);
}

.mainContainerLight {
  background: white;
}

.containerLinks {
  display: flex;
  a * {
    padding: 10%;
    margin-bottom: 20%;
  }
}

h2 {
  font-weight: bold;
  font-size: 90%;
}

h3 {
  font-weight: bold;
  font-size: 90%;
}

p {
  font-size: 90%;
}
