@import '../../assets/styles/theme';

.projectsContainer{
  align-self: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 80px;
  place-items: center;
}
.title {
  font-weight: 600;
  font-size: $font-size-desktop-title;
  margin: 20px 30px 30px 65px;
}

.container {
  color: $black;
  padding-bottom: 200px;
}

.darkContainer {
  color: $white;
}


@media (max-width: 768px) {
  .title {
    font-weight: 600;
    font-size: $font-size-mobile;
    margin: 20px 30px 28px 32px;
  }
  .projectsContainer{
    grid-row-gap: 36px;
  }
}