@import '../../assets/styles/theme';

.projectsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.title {
  font-weight: 600;
  font-size: 40px;
  margin: 20px 30px 30px 65px;
}

.container {
  color: $black;
}

.darkContainer {
  color: $white;
}


@media (max-width: 768px) {
  .title {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 30px 28px 32px;
  }
}