@import '../../assets/styles/theme';
.border{
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 2vh 0;
  box-shadow: 0 0 20px 5px $light_border; 
  }

  .darkBorder{
    box-shadow: 0 0 20px 5px $violet_50; 
  }
  
.container{
  display: flex;
  opacity: 0.9;
  background-color: $white_100_35;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  width: 90vw;
}

.image {
  max-width: 366px;
  height: 245px;
  border-radius: 10px 10px 0px 0px;

}
.content {
  align-self: flex-start;
  color: $black;
  padding: 0px 24px;
  margin-bottom: 32px;
  box-sizing: content-box;
}
.title {
  line-height: 24.2px;
  font-weight: 400;
}
.text {
  font-weight: 400;
  line-height: 19.36px;
}

@media (max-width: 768px){
  .container {
    width: auto;
    flex-direction: column;
    align-items: center;
    margin: 38px 8px 0 8px;
  }
  .container:last-child {
    margin-bottom: 100px;
  }
  .image {
    width: 366px;
    max-width: 97%;
    height: 245px;
    border-radius: 10px 10px 0px 0px;
    margin: 4px 4px 0px 4px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .content{
    width: 326px;
    height: 219px;
    overflow-y: hidden;
  }
  .title {
    font-size: 20px;
    margin-top: 28px;
  }
  .text {
    font-size: 16px;
    margin-top: 15px;
  }
}

@media (min-width: 769px){
  .container {
    max-width: 90vw;
    align-items: stretch;
    height: 50vh;
  }
  .image {
    min-width: 52%;
    height: 100%;
    order: 1;
  }
  .content {
    max-height: 400px;
    overflow-y: hidden;
    margin-right: auto;
    order: 2;
  }
  .title {
    font-size: 30px;
    margin: 50px 30px 30px 30px ;
  }
  .text {
    font-size: 20px;
    margin: 30px 30px 0px 30px;
  }
  .container:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .container:nth-child(odd) .image {
    border-radius: 0px 10px 10px 0px;
  }
  .container:nth-child(even) .image {
    border-radius: 10px 0px 0px 10px;
  }
}
.darkContainer {
  background-color: $black_100_35;

  .content {
    color: $white;
  }
}
