@import '../../assets/styles/theme';

.container {
  line-height: 1.6;
  width: 100%;
  margin-top: 30px;
  overflow-x: hidden;
}
// LIGHT THEME

.h1Light {
  font: 24px $helvetica;
  color: $black;
  font-weight: bolder;
  padding-top: 32px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 18px;
}
.pLight {
  font: 20px $helvetica;
  color: $black;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 18px;
  padding-bottom: 52px;
}
.backgroundLight {
  width: 100%;
  margin: 0 auto;
  background-clip: content-box;
  border-top-right-radius: 150px 48px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

//DARK THEME

.h1Dark {
  color: $white;
}
.pDark {
  color: $white;
}
.backgroundDark {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}
@media screen and (min-width: 991px) {
  .container {
    position: relative;
  }
  .h1Light {
    font: 54px $helvetica;
    color: $black;
    font-weight: bolder;
    padding-top: 0;
  }
  .pLight {
    font: 27px $helvetica;
    color: $black;
    width: 100%;
  }
  .backgroundLight {
    position: relative;
    width: 70vw;
    height: 70vw;
    margin-top: 30px;
    margin-left: -57px;
    padding-top: 198px;
    padding-left: 181px;
    padding-right: 131px;
    border-radius: 600px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
  }

  .h1Dark {
    color: $white;
  }
  .pDark {
    color: $white;
  }
  .backgroundDark {
    position: relative;
    width: 75vw;
    height: 75vw;
    margin-top: 92px;
    margin-left: -57px;
    padding-top: 198px;
    padding-left: 181px;
    padding-right: 131px;
    border-radius: 600px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .h1Light {
    padding-top: 32px;
  }
}