@import "../../assets/styles/theme";

.container {
    line-height: 1.6;
    width: 100%;
    margin-top: 30px;
    overflow-x: hidden;
}
// LIGHT THEME

.h1 {
    font: 20px $helvetica;
    font-weight: bold;
    padding-top: 26px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 18px;
}
.p {
    font: 16px $helvetica;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18px;
}
.background {
    width: 100%;
    margin: 0 auto;
    background-clip: content-box;
    border-top-right-radius: 150px 48px;
    background-color: rgba(0, 0, 0, 0.49) ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

//DARK THEME

.h1Dark {
    font: 20px $helvetica;
    color: $white;
    font-weight: bold;
    padding-top: 26px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 18px;
}
.pDark {
    font: 16px $helvetica;
    color: $white;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18px;
}
.backgroundDark {
    width: 100%;
    margin: 0 auto;
    background-clip: content-box;
    border-top-right-radius: 150px 48px;
    background-color: rgba(255, 255, 255, 0.49) ;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.25);
}