
.Navbar {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
    align-self: center;
    top: 0;
    white-space: nowrap;
    position: -webkit-sticky;
    position: sticky;
    font-family:  Helvetica;


}


