@import '../../assets/styles/theme';

.mainContainer {
  z-index: 10;
  background: $white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 40px 32px;
  height: 108px;
  width: 100%;
  white-space: nowrap;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mainContainerDark {
  background-color: $dark-navbar-mobile;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.logo {
  height: 26px;
  width: 19px;
  margin-right: 14px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 68px;
}

.desktopMenu {
  display: none;
}

.languageThemeWraper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 16px;
  font-size: 14px;
  margin-top: 6px;
  padding-top: 4px;
  margin-right: 80px;
}

.languageButton {
  margin: 0px 10px;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: start;

  svg {
    height: 100%;
    width: 14px;
    margin-right: 5px;
    margin-left: -4px;
    width: 20px;
    margin-left: -3px;
  }

  span {
    width: 70%;
    height: auto;
    text-align: center;
    padding-top: 1px;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid inherit;
  }
}

.themeButton {
  background: none;
  border: none;
}

.sidebarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar button {
  background: none;
  border: none;
}

.languageButtonDark {
  background-color: $black;
  border: 1px solid $white;

  svg {
    filter: invert(100%);
  }

  span {
    color: $white;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .mainContainer {
    height: 117px;
    padding: 0px 0px;
    box-shadow: none;
  }

  .sidebarContainer {
    display: none;
  }

  .logoContainer {
    margin-right: 80px;
  }

  .logo {
    height: 58px;
    width: 37px;
    margin-right: 16px;
    margin-left: 80px;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 100px;
  }

  .desktopMenu {
    display: flex;
    height: 100%;
  }

  .desktopMenuDark {
    color: $white;
  }

  .desktopMenuItem {
    margin-right: 26px;
    font-size: 16px;
    margin-top: 50px;
    height: 24px;
    display: flex;
    align-items: center;
  }

  .desktopMenuItem:last-child {
    margin-right: 0%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}