@import "../../assets/styles/theme";


.containerGridLight {
  display: inline-grid;
  height: 200px;
  grid-template-columns: 52% auto;
  grid-template-rows: 9% 11% 4%;
  column-gap: 15px;
  row-gap: 80px;
  margin-left: 22px;
  margin-right: 10px;
}

.containerGridDark {
  display: inline-grid;
  height: 200px;
  grid-template-columns: 52% auto;
  grid-template-rows: 9% 11% 4%;
  column-gap: 15px;
  row-gap: 80px;
  margin-left: 22px;
  margin-right: 10px;
}

.containerGridLight>div {
  text-align: left;
  color: $black;
}

.containerGridDark>div {
  text-align: left;
  color: $white;
}

.mainContainerLight {
  background: linear-gradient(180deg, $light-footer-top-mobile 15%, $light-footer-bottom-mobile 100%);
  padding-top: 55px;
  padding-bottom: 90px;
}

.mainContainerDark {
  background: linear-gradient(180deg, $dark-footer-top-mobile 15%, $dark-footer-bottom-mobile 100%);
  padding-top: 55px;
  padding-bottom: 90px;
}

.containerIconsLight {
  display: flex;
  gap: 7px;
  padding-top: 5px;

  a * {
    display: flex;
    width: 20px;
  }
}

.containerIconsDark {
  display: flex;
  gap: 7px;
  padding-top: 5px;

  a * {
    display: flex;
    width: 20px;
    filter: invert(100%);
  }
}

h2 {
  font-weight: bold;
  font-size: 15px;
}

h3 {
  font-weight: bold;
  font-size: 13px;
}

p {
  font-size: 13px;
  word-wrap: anywhere;
}

.containerGridLight>div:nth-child(3),
.containerGridDark>div:nth-child(3) {
  display: none;
}

.title {
  display: none;
}

.brakpoint {
  display: block;
}

h2>div:nth-child(2) {
  display: none;
}

.addressContainer>p:nth-child(2) {
  display: none;
}

div>p:nth-child(3) {
  margin-top: -1rem;
}

@media (min-width: $breakpoint-desktop) {
  .brakpoint {
    display: none;
  }

  .mainContainerDark,
  .mainContainerLight {
    display: flex;
    justify-content: center;
  }

  .containerGridLight,
  .containerGridDark {
    width: 70%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-gap: 15px;

  }

  .containerGridLight>div:nth-child(1),
  .containerGridDark>div:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1;
  }

  .containerGridLight>div:nth-child(2),
  .containerGridDark>div:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 2;
  }

  .containerGridLight>div:nth-child(3),
  .containerGridDark>div:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 2;
    display: block;
    display: flex;
    flex-direction: row;
  }

  .containerGridLight>div:nth-child(4),
  .containerGridDark>div:nth-child(4) {
    grid-column: 1 / span 1;
    grid-row: 3;
  }

  .containerGridLight>div:nth-child(5),
  .containerGridDark>div:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 3;
  }

  .containerGridLight>div:nth-child(6),
  .containerGridDark>div:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 3;
  }

  .containerGridLight>div:nth-child(7),
  .containerGridDark>div:nth-child(7) {
    grid-column: 3 / span 1;
    grid-row: 2;
  }

  .logo {
    width: 27px;
  }

  .name {
    width: 59px;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .title {
    display: block;
  }

  h2>div:nth-child(1) {
    display: none;
  }

  h2>div:nth-child(2) {
    display: block;
  }

  h2>div:nth-child(3) {
    display: none;
  }

  h3 {
    text-transform: uppercase;
  }


  .addressContainer>p:nth-child(1) {
    display: none;
  }

  .addressContainer>p:nth-child(2) {
    display: block;
  }

  .containerIconsDark,
  .containerIconsLight {
    a * {
      width: 25px;
    }
  }
}