@import "../../assets/styles/theme";

.containerGridDark {
  display: inline-grid;
  height: 200px;
  grid-template-columns: 52% auto;
  grid-template-rows: 9% 11% 4%;
  column-gap: 15px;
  row-gap: 80px;
  margin-left: 22px;
  margin-right: 10px;
}

.containerGridLight {
  display: inline-grid;
  height: 200px;
  grid-template-columns: 52% auto;
  grid-template-rows: 9% 11% 4%;
  column-gap: 15px;
  row-gap: 80px;
  margin-left: 22px;
  margin-right: 10px;
}

.containerGridDark > div {
  text-align: left;
  color: $white;
}

.containerGridLight > div {
  text-align: left;
  color: $black;
}

.mainContainerDark {
  background: linear-gradient(180deg, $dark-footer-top-mobile 15%, $dark-footer-bottom-mobile 100%);
  padding-top: 55px;
  padding-bottom: 90px;
}

.mainContainerLight {
  background: linear-gradient(180deg, $light-footer-top-mobile 15%, $light-footer-bottom-mobile 100%);
  padding-top: 55px;
  padding-bottom: 90px;
}

.containerIconsDark {
  height: 100%;
  a * {
    filter: invert(100%);
    position: relative;
    top: -390px;
    width: 20px;
    margin-top: 5px;
    margin-right: 7px;
  }
}

.containerIconsLight {
  height: 100%;
  a * {
    position: relative;
    top: -390px;
    width: 20px;
    margin-top: 5px;
    margin-right: 7px;
  }
}

h2 {
  font-weight: bold;
  font-size: 15px;
}

h3 {
  font-weight: bold;
  font-size: 13px;
}

p {
  font-size: 13px;
  word-wrap: anywhere;
}
