@import '../../assets/styles/theme';

.title {
  font-weight: 600;
  font-size: $font-size-desktop-title;
  margin: 41px 0 41px 141px;
  text-transform: lowercase;
}

.title:first-letter {
  text-transform: uppercase;
}

.container {
  color: $black;
}

.darkContainer {
  color: $white;
}

.postsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vh;
}

@media (max-width: $breakpoint-desktop) {
  .title {
    font-weight: 600;
    font-size: $font-size-mobile-title;
    margin: 28px 0 28px 32px;
  }
}