@import '../../assets/styles/theme';

.title {
  font-weight: 600;
  font-size: 40px;
  margin: 41px 0 41px 141px;
  text-transform: lowercase;
}

.title:first-letter {
  text-transform: uppercase;
}

.container {
  color: $black;
}

.darkContainer {
  color: $white;
}

@media (max-width: $breakpoint-desktop) {
  .title {
    font-weight: 600;
    font-size: 20px;
    margin: 28px 0 28px 32px;
  }
}