@import '../../assets/styles/theme';

@font-face {
  font-family: 'Helvetica', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline-style: outset;
  outline-color: $pink_100;
  outline-width: 3px;
  border-radius: 3px;
  outline-offset: 2px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  background-size: cover;
  background-repeat: repeat-y;
  height: 100vh;
  transition: background-image 0.5s ease;
}

@media (min-width: 768px) {
  .light-body {
    background-image: url('../images/background-light.png');
  }

  .dark-body {
    background-image: url('../images/background-dark.png');
  }
}

@media (max-width: 768px) {
  .light-body {
    background-image: url('../images/background-light-mobile.png');
  }

  .dark-body {
    background-image: url('../images/background-dark-mobile.png');
  }
}