// COLORS
$black: #000;
$white: #fff;

// FONTS
$helvetica: Helvetica, sans-serif;

// BREAKPOINTS
$breakpoint-tablet: 700px;

$dark-tile-background-mobile: rgba(0, 0, 0, 0.35);

$light-tile-background-mobile: rgba(255, 255, 255, 0.35);


$light-footer-top-mobile: #F8DEFF;

$light-footer-bottom-mobile: #ADCCFF;


$dark-footer-top-mobile: #450043;

$dark-footer-bottom-mobile: #0E011D;


$dark-sidebar-mobile: #140D19;

$light-sidebar-mobile: #D7CFFC;
